html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h2, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*  Page ======================= */
.page {
    width: 100%;
    height: 100vh;
    min-height: 770px;
    position: relative;
    overflow: hidden;
    
    background: #000 url(/bg1.jpg) center no-repeat;
    background-size: cover;
} 

/*  Header =====================*/
.header {
    padding: 10px 0;
    margin-bottom: 70px;

    background: rgb(43, 125, 237);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.8rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
    width: 2.5rem;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;

    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;

    transition: color .5s linear;
}

.header-nav-link:hover {
    color: #000397;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #ffffff;

    position: absolute;
    left: 0;
    bottom: -5px;
}
 
/* Content  =====================*/

.content {
    height: 100%;
    width: 100%;
    max-width: 565px;
}

.content-header {
    margin-bottom: 3rem;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(255, 255, 255, .6)
}

.title {
    margin-bottom: 10px;

    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;

    line-height: 1.2;
}

.title span {
    color:#2B7DED;
}

.text {
    margin-bottom: 50px;

    font-size: 1rem;
    color: #ffffff;
}

/* Button ========================*/

.btn {
    display: inline-block;
    padding: 12px 35px;
    border: 0;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;

    background-color: #2B7DED;

    border-radius: 5px;

    transition: background .2s linear;
}

.btn:hover {
    background-color:#0e51af;;
}

.btn-full {
    display: block;
    width: 100%;
}

/* Author =====================*/

.author {
    position: absolute;
    right: -20px;
    bottom: 0;
}

/* Footer ======================*/

.footer {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
}

/* Contacts ======================*/
.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

    color: #fff;
}

/*.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin-left: 2rem;
    pointer-events: none;

    background-color: #ffffff;

    position: absolute;
    left: 100%;
    top: 11px;
} */

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    padding-right: 5px;
    height: 15px;
}

.inst {
    height: 20px;
}


/* Form ========================*/

.form {
    width: 100%;
    max-width: 280px;
}

.form-group {
    margin-bottom: 20px
}

.input,
textarea {
    display: block;
    width: 100%;
    padding: 12px 18px;

    font-family: inherit;
    font-size: 1rem;
    color: #ffffff;

    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
}

.textarea {
    resize: none;
    height: 100px;

    color: #ffffff;
}

.input::placeholder,
.textarea::placeholder {
    color:#ffffff;
}

/* Media =============================*/

@media (max-width: 1000px) {
       
    .author {
        right: -100px;
    }
}

@media (max-width: 767px) {
    
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
    }

    /* Header ===============*/

    .header {
        margin-bottom: 2rem;
    }

    .header-brand {
        font-size: 1.2rem;
    }

    /* Content ==============*/
    .content {
        max-width: none;
        margin-bottom: 4rem;

        text-align: center;
    }

    /* Form ==================*/
    .form {
        margin: 0 auto;
    }

    /* Footer ===============*/
     .footer {
        position: static;
     }

     /* Contacts ===============*/
     .contacts {
        flex-direction: column;
    }

    .contacts-link:last-child::after {
        display: none;
    }

    .contacts-link {
        margin-right: 0;
        margin-bottom: .5rem;
    }

    .contacts-link:last-child {
        margin-bottom: 0;
    }

    /* Author =================*/
    .author {
        display: none;
    }
}

@media (max-width: 565px) {
    
    /* Header =================*/

    .header-logo {
        display: none;
    } 

    .header-inner {
        flex-direction: column;
    }

    .header-brand {
        margin-bottom: 1rem;
    }
}

@media (max-width: 320px) {
    .subtitle {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.6rem;
    }
}

